body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wght" 300, "ital" 1, "opsz" 16;
}

/*navbar*/
.imgnav{
  width: 65px;
  height: 45px;
}

.carrito{
  font-size: 1.8rem;
  color: #000;
}

/*footer*/
.imgfoot{
  width: 130px;
  height: 100px;
}

.iconoMC{
  width: 75px;
  height: 60px;
}

.iconoVisa{
  width: 65px;
  height: 55px;
}

/*productos1*/
.tamañocard{
  max-width: 1300px;
  width: 100%;
}

/*nosotros*/
.nosotros{
  width: 18rem;
  height: 100%;
  background-color: transparent;
  border: none;
}

.imgnosotros{
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  border: 5px solid white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.imgnosotros:hover{
  transform: scale(1.1);
}

/* karrusel */
main {
  flex-grow: 1;
}

.logo {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.carruselPpalImg {
  height: 350px;
  object-fit: cover;
  object-position: 80% 30%;
}

.titulosKarrusel {
  display: inline-block;
}

/* Grilla ppal */
.colorEstiloGrilla {
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wght" 300, "ital" 1, "opsz" 16;
  background-color: #5499c7;
}

.colorFondoGrilla {
  background-color: #eaf2f8;
  overflow: hidden;
}
.alturaImgGrilla {
  height: 304px;
  object-fit: cover;
}
.alineaBotonGrilla {
  display: flex;
  flex-direction: column;
}

/* HELADERAS Y CELULARES */

.botonHela {
  background-color: #5499c7;
}

.alturaVideo {
  height: 400px;
}

/* Publicidades */
.publiPadre {
  position: relative;
}

.publiHijo {
  position: absolute;
}

.leyendaTarjeta {
  width: fit-content;

  top: 80%;
  font-size: x-large;
}

/* Pagina detalle de cotegorias */
.alturaImGrillaCel {
  height: 350px;
  object-fit: cover;
}

.fondoInf {
  background-color: #eaf2f8;
}

.letraTitulo {
  font-size: large;
}

.letraCuotas {
  font-size: small;
}

.letraPrecio {
  font-size: small;
}

/* Pagina heladeras */
.alturaHela {
  height: 500px;
  object-fit: cover;
}

/* .colorFondoGrillaCel {
  background-color: #eaf2f8;
  overflow: hidden;
} */

.botonerror {
  background-color: #5499c7;
}

/* para dispositivos grandes */
@media (width >= 992px) {
  .carruselPpalImg {
    height: 450px;
    object-position: 100% 30%;
  }
  .leyendaHelad {
    font-size: x-large;
  }

  .textodesc{
    font-size: 30px;
  }
}

/* para dispositivos medianos tablets */
@media (768px <= width <= 991px) {
  .carruselPpalImg {
    height: 350px;
    object-position: 130% 30%;
  }

  .leyendaHelad {
    font-size: x-large;
  }

  .textodesc{
    font-size: 30%;
  }
}


/*texto-subrarrado*/
.texto-subrarrado {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.texto-subrarrado::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    height: 3px;
    width: 0;
    background-color: #1ea5a5;
    transition: width 600ms linear;
}

.texto-subrarrado:hover::after {
    width: 100%;
}
.texto-subrarrado.active::after {
    width: 100%;
}


/* Botón de Facebook */
.btn-facebook {
  background-color: #1877f2; /* Azul Facebook */
  color: #ffffff;
  border: none;
  transition: background-color 0.3s ease;
}

.btn-facebook:hover {
  background-color: #145dbf;
}

.div-efect{
    transition: .3s;
    &:hover {
        transform: translateY(-5px);
    }
}
