body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wght" 300, "ital" 1, "opsz" 16;
}

/* karrusel */
main {
  flex-grow: 1;
}

.logo {
  font-family: "Exo", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.carruselPpalImg {
  height: 350px;
  object-fit: cover;
  object-position: 80% 30%;
}

.titulosKarrusel {
  display: inline-block;
}

/* Grilla ppal */
.colorEstiloGrilla {
  font-family: "Open Sans", sans-serif;
  font-variation-settings: "wght" 300, "ital" 1, "opsz" 16;
  background-color: #5499c7;
}

.colorFondoGrilla {
  background-color: #eaf2f8;
  overflow: hidden;
}
.alturaImgGrilla {
  height: 304px;
  object-fit: cover;
}
.alineaBotonGrilla {
  display: flex;
  flex-direction: column;
}

/* HELADERAS Y CELULARES */

.botonHela {
  background-color: #5499c7;
}

/* Publicidades */
.publiPadre {
  position: relative;
}

.publiHijo {
  position: absolute;
}

.leyendaTarjeta {
  width: fit-content;

  top: 80%;
  font-size: x-large;
}

/* Pagina detalle de cotegorias */
.alturaImGrillaCel {
  height: 304px;
  object-fit: cover;
}

.colorFondoGrillaCel {
  background-color: #eaf2f8;
  overflow: hidden;
}

/* para dispositivos grandes */
@media (width >= 992px) {
  .carruselPpalImg {
    height: 450px;
    object-position: 100% 30%;
  }
  .leyendaHelad {
    font-size: x-large;
  }
}

/* para dispositivos medianos tablets */
@media (768px <= width <= 991px) {
  .carruselPpalImg {
    height: 350px;
    object-position: 130% 30%;
  }

  .leyendaHelad {
    font-size: x-large;
  }
}
